<div>
	<form #formRef="ngForm">
		<div class="form-group">
			<label for="problemName">Problem Name</label>
			<input type="text" class="form-control" id="problemName"
			name="ProblemName" placeholder="Input problem name"
			[(ngModel)]="newProblem.name" required>
		</div>
		<div class="form-group">
			<label for="problemDesc">Problem Description</label>
			<input type="text" class="form-control" id="problemDesc"
			name="ProblemDesc" placeholder="Input description"
			[(ngModel)]="newProblem.desc">
		</div>
		<div class="form-group">
			<label for="difficulty">Difficulty</label>
			<select class="form-control" id="difficulty"
			name="difficulty" required [(ngModel)]="newProblem.difficulty">
				<option *ngFor="let difficulty of difficulties" [value]="difficulty">
					{{difficulty}}
				</option>
			</select>
		</div>
		<div class="row">
			<div>
				<button type="submit" class="btn btn-primary pull-right"
				(click)="addProblem()">Add problem</button>
			</div>
		</div>
	</form>
</div>